{% extends 'base.html.twig' %}

{% block title %}Edit Weapons{% endblock %}

{% block body %}
    <div class="container">
        <div class="weaponList">

            {{ include('weapons/_form.html.twig') }}


            <a type="button" class="btn btn-custom w-100 btn-dark" href="{{ path('app_weapons_index') }}">Retourner à
                l'index</a>
            {{ include('weapons/_delete_form.html.twig') }}


        </div>
    </div>
{% endblock %}
